<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cars">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Add New Car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Marca" #marca></ion-input>
          <ion-input type="text" placeholder="Modelo" #modelo></ion-input>
          <ion-input type="number" placeholder="Año" #anio></ion-input>
          <ion-input type="text" placeholder="Tipo" #tipo></ion-input>
          <ion-input type="text" placeholder="img" #img></ion-input>
          <ion-button color="warning" (click)="addCar(marca,modelo,anio,tipo,img)">
            Add car
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
