<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cars">

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{car.marca + ' - ' + car.modelo}}</ion-title>
    <ion-buttons slot="end" color="danger">
       <ion-button (click)="deleteCar(car.id)">
          <ion-icon name="trash">

          </ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="car.img"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list *ngIf="car.featurs && car.featurs.length >= 1; else noFeture">
          <ion-item *ngFor="let feture of car.featurs">
            {{feture}}
          </ion-item>
        </ion-list>
        <ng-template #noFeture>
          <ion-text>
            <p class="ion-text-center">No hay propiedades</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
